body{
    /*gradient on website*/
    background-image: linear-gradient(to right, white, white, silver, silver)
}

.jumbotron {
  height: 400px; 
  width: 100%;
  background: url("/uploads/Main.jpg") no-repeat; 
  background-size: cover;
  text-align: center;    
}

.jumbotronhome {
  height: 400px; 
  width: 100%;
  background: url("/uploads/9.jpg") no-repeat; 
  background-size: cover;
  text-align: center;    
}
.jumbotron2 {
  height: 800px; 
  width: 100%;
  background: url("/uploads/signin.jpg") no-repeat; 
  background-size: cover;
  text-align: center;    
}

.jumbotronsignin {
  height: 860px; 
  width: cover;
  background: url("/uploads/signup.jpg") no-repeat; 
  background-size: cover;
  text-align: center;    
}
button:hover {
  opacity: 0.9;
}

.container {
  padding: 10px;
}

span.signup {
  float: right;
}

.content{
      width: 50%;
      padding: 5px;
      margin: 0 auto;
    }
    .content span{
      width: 250px;
    }

/* The Modal style */
.modal {
  display: none; /* Its Hidden */
  position: fixed;
  z-index: 1; /* To be the topmost layer */
  width: 100%; /* Cover Screen width */
  height: 100%; /* Cover Screen height */
  overflow: auto; /* Allow scrolling */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 50px;
}

/* Modal box */
.modal-style {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 30%;
  height: 300px;    
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.columnhead {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

.column {
  float: left;
  width: 50%;
}

.textbox {
  float: left;
  width: 50%;
}

.column img {
  vertical-align: middle;
}

.col-md-4{
    margin-bottom: auto;
    margin-top: auto;
    padding: 5px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
